@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --red: #b61919;
  --navy: #012443;
  --pink: #ff6b6b;
  --orange: #ff4c29;
  --primary-font: "Amaranth", sans-serif;
}
body {
  background-color: var(--navy);
}
.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.weatherBody {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: fit-content;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--orange);
}
.heading {
  color: white;
  padding: 15px 0;
  font-family: var(--primary-font);
}
hr {
  width: 90%;
  border: 0.01rem solid white;
}
.btn {
  background-color: var(--navy);
  padding: 5px;
  border: none;
  color: white;
  font-weight: 900;
  font-family: var(--primary-font);
  margin: 0 10px;
  font-size: 18px;
}
.btn:hover {
  background-color: #054985;
  transition: background-color 0.2s ease-in-out;
}
.input {
  padding: 5px;
  font-family: var(--primary-font);
  margin: 0 10px;
  width: 180px;
  font-size: 18px;
}
.input-div {
  margin-top: 5px;
  padding: 15px 0;
}
.position {
  background-color: white;
  width: 300px;
  padding: 5px 0;
  text-align: center;
}
.position-heading {
  font-family: monospace;
  color: var(--orange);
  position: relative;
  margin: 0 15px;
  border-bottom: 2px solid var(--orange);
}
.lat,
.lon {
  margin-top: 5px;
  padding: 5px 5px 5px;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.lat {
  height: 20px;
  border-right: 2px solid var(--orange);
}
.value {
  font-family: var(--primary-font);
  font-size: 18px;
  color: var(--orange);
}
.weatherCard {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 35px 0;
  padding: 15px 0;
}
.loading {
  color: var(--orange);
  font-family: var(--primary-font);
  text-align: center;
}
.know-more {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}
.city-info {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--primary-font);
}
.city-country {
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid grey;
  padding: 2px;
  margin: 0 10px;
}
.city {
  color: var(--orange);
  font-size: 25px;
  margin: 0 5px;
}
.country {
  font-size: 15px;
  margin-left: 5px;
}
.lat-lon {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  margin: 10px 0;
  position: relative;
}
.lat-lon > span {
  color: var(--orange);
}
.weather-type {
  color: white;
  background-color: var(--orange);
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  padding: 8px 12px;
}
.weather-info {
  text-align: center;
  width: 80%;
  height: 100px;
  margin-top: 8px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.media {
  margin: 12px 0;
}
.media > a {
  margin: 0 15px;
}
.note {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  font-size: 15px;
  color: white;
  padding: 2px 0;
  position: absolute;
  bottom: 0%;
}
